<footer>
  <div class="footer_bgc">
    <small>
      <strong><a href="#">Yuki Development</a></strong>
      by <em><a href="#">YUKI GOTO</a></em>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", '#' %></li>
      </ul>
    </nav>
  </div>
</footer>
