<footer class="footer">
  <small>
    <strong><a href="#">Yuki Goto</a></strong>
    by <em><a href="#">Yuki Goto</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
    </ul>
  </nav>
</footer>
